li{
    color: #fff;
    font-size: 1.5rem;
}

h3{
    color: #fff;
    /* font-size: 1.5rem; */
    text-decoration: underline;
    font-weight: bolder;

}
#about-me-p{
    font-size: 1.7rem;
    

}

